.board {
  display: flex;
  flex-direction: column;
}

.grid {
  display: grid;
  user-select: none;
  gap: var(--letter-gap);
  align-self: center;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  align-self: center;
}
