.letter {
  width: 44px;
  height: 44px;
  border-radius: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 26px;
  line-height: 70%;
  font-family: monospace;
  border: none;
  color: var(--text-color);
  background-color: transparent;
  user-select: none;

  &:disabled {
    cursor: not-allowed;
  }

  &.currentStrand {
    background-color: var(--current-strand);

    &.endOfStrand {
      animation: nodeBounce 4s ease-in-out 1 forwards;
    }

    &.endOfStrand::after {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      border-radius: 50%;
      animation: 5s ease-in-out infinite forwards pulsingOutline alternate;
      outline-color: var(--current-strand);
    }
  }

  &.themeWord {
    background-color: var(--theme-word);
  }

  &.spangram {
    background-color: var(--spangram);
  }

  &.hint {
    background-color: transparent;
    border: 2px dotted #1a7fa0;
  }

  &.highlighted {
    animation: nodeBounce 4s ease-in-out 1 forwards;

    .connector {
      position: absolute;
      background-color: inherit;
      z-index: -1;

      &.top {
        top: calc(-1 * var(--half-letter-height) + 4px);
        width: var(--connector-width);
        height: var(--half-letter-height);
      }

      &.topRight {
        width: var(--connector-width);
        height: var(--diagonal-connector-length);
        rotate: 45deg;
        translate: var(--half-letter-height)
          calc(-1 * var(--half-letter-height));
      }

      &.right {
        translate: calc(var(--half-letter-height) + var(--half-gap));
        height: var(--connector-width);
        width: calc(var(--letter-height) - 8px);
      }

      &.bottomRight {
        width: var(--connector-width);
        height: var(--diagonal-connector-length);
        rotate: -45deg;
        translate: var(--half-letter-height) var(--half-letter-height);
      }

      &.bottom {
        bottom: calc(-1 * var(--half-letter-height));
        width: var(--connector-width);
        height: var(--letter-height);
      }

      &.bottomLeft {
        width: var(--connector-width);
        height: var(--diagonal-connector-length);
        rotate: 45deg;
        translate: calc(-1 * var(--half-letter-height))
          var(--half-letter-height);
      }

      &.left {
        translate: calc(-1 * var(--half-letter-height));
        height: var(--connector-width);
        width: calc(var(--letter-height) - 8px);
      }

      &.topLeft {
        width: var(--connector-width);
        height: var(--diagonal-connector-length);
        rotate: -45deg;
        translate: calc(-1 * var(--half-letter-height))
          calc(-1 * var(--half-letter-height));
      }
    }
  }
}

@keyframes pulsingOutline {
  30% {
    outline-offset: 0px;
    outline: 0px solid var(--current-strand);
  }

  33% {
    outline-offset: 8px;
    outline: 1px solid var(--current-strand);
  }

  35% {
    outline-offset: 4px;
    outline: 4px solid var(--current-strand);
  }

  40% {
    outline-offset: 4px;
    outline: 2px solid var(--current-strand);
  }

  100% {
    outline-offset: 4px;
    outline: 2px solid var(--current-strand);
  }
}

@keyframes nodeBounce {
  0% {
    scale: 1;
  }

  5% {
    scale: 0.9;
  }

  8% {
    scale: 1.02;
  }

  10% {
    scale: 1;
  }

  100% {
    scale: 1;
  }
}
