.header {
  display: flex;
  flex-direction: column;
  padding: 0 2rem 1rem 2rem;

  .date {
    margin: 0rem 0 0.75rem 0;
  }

  .gameLinks {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .gameLink {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      background-color: #9fe7a7;
      padding: 0 0.8rem;
      color: black;
      border-radius: 2px;
      font-family: monospace;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-self: center;

  .display {
    min-height: 2.5rem;
    font-weight: bold;
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease-in-out;

    &.bounce {
      animation: 700ms ease-in-out 1 forwards bounce;
    }

    &.shake {
      animation: 700ms ease-in-out 1 forwards shake;
    }
  }

  .boardFooter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3rem;
  }
}

@media only screen and (min-width: 800px) {
  .header {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .date {
      margin: 0;
    }

    .gameLinks {
      gap: 1rem;
    }
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
    opacity: 1;
  }
  40% {
    transform: translateY(-8px);
  }
  60% {
    transform: translateY(-4px);
  }
}

@keyframes shake {
  0% {
    translate: 0;
  }
  20% {
    translate: 2px;
  }

  40% {
    translate: -2px;
  }

  60% {
    translate: 1px;
  }

  80% {
    translate: -1px;
  }

  100% {
    translate: 0;
    opacity: 1;
  }
}
