* {
  box-sizing: border-box;
}

body {
  --letter-gap: 8px;
  --half-gap: calc(var(--letter-gap) / 2);
  --letter-height: 44px;
  --half-letter-height: calc(var(--letter-height) / 2);
  --connector-width: calc(var(--letter-height) / 3.5);
  --diagonal-connector-length: calc(
    calc(var(--letter-height) + var(--letter-gap)) * sqrt(2)
  );

  --text-color: rgb(241, 241, 241);
  --bg-color: rgb(31, 35, 46);
  --current-strand: rgb(79, 93, 102);
  --theme-word: rgb(20, 76, 112);
  --spangram: #c5a600;

  --readable-theme-word: rgb(41, 139, 202);

  &.light-theme {
    --text-color: rgb(74, 73, 83);
    --bg-color: #f2f2f2;
    --current-strand: rgb(208, 212, 223);
    --theme-word: rgb(187, 207, 255);
    --spangram: #eed550;
  }
}

body {
  color: var(--text-color);
  background-color: var(--bg-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
}
