* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.grid {
  display: grid;
  font-family: monospace;
  font-size: 1.5rem;
  user-select: none;
}

.letter {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  font-size: 1.5rem;
  margin: 12px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.letter.connector::after {
  content: '';
  position: absolute;
  background-color: pink;
}

.letter.top::after {
  top: -24px;
  width: 8px;
  height: 24px;
}

.letter.topRight::after {
  top: -24px;
  width: 8px;
  height: 24px;
  rotate: 45deg;
  transform-origin: bottom left;
}

.letter.right::after {
  right: -24px;
  width: 24px;
  height: 8px;
}

.letter.rightBottom::after {
  right: -24px;
  width: 24px;
  height: 8px;
  rotate: 45deg;
  transform-origin: left;
}
